.cardContainer {
	display: flex;

	font-size: 1.5em;
	font-weight: bold;

	margin-bottom: 1.875em;


	.avatar {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-right: 1.875em;

		height: 3.5em;
		width: 3.5em;

		background-image: url('../../../img/avatar.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.name {
		display: flex;
		flex-grow: 1;

		padding-top: 0.312em;

		border-bottom: 0.063em solid rgba($color: #000000, $alpha: 0.26);

		color: inherit; 
		text-decoration: none;
	}
}