.page {
  --blue: #66AAF9;
  --light-blue: #95C3F8;
  --black: #000000;
  --white: #ffffff;

  display: grid;
  grid-template-rows: 4.375em 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: 100svh;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4.375em;
    width: 100%;

    background: var(--blue);

    &_menu {
      display: flex;
      justify-content: flex-start;
      flex-grow: 1;

      margin: 0 1.875em;

      .btnSearch {
        margin-left: auto;

      }
    }
  }

  .main {
    display: flex;

    width: 100%;

    .cards{
      display: flex;
      flex-direction: column;

      width: 100%;

      margin-top: 2.5em;
      margin-left: 2.5em;
    }
  }

  .main::before {
    content: "";
    background-image: url('../img/policiya-mvd-rossiya.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    opacity: 0.2;
  }

}